<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <h2>Book Application</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbtn">
        <button type="button" class="btn btn-success navbutton" (click)="open()">Add Book</button>    
        </div>
        
      </div>
    </div>
  </nav>

  <div class="container inputcontainer mt-5 mb-5"  >
    <input [(ngModel)]="filterTxt"placeholder="  Enter some information for search...">

  </div>

<div class="container">
  <div class="row bookrow">
    <div class="col-lg-4 bookcol" *ngFor="let book of allBooks | search: filterTxt">
      <div class="card mb-3">
        <div class="card-body">
          <h5>Title: {{book.title}} </h5>
          <h5>Author: {{book.author}} </h5>
          <h5>Year: {{book.year}} </h5>
          <div class="buttonsgroup">
           <a [routerLink]="['/Details', book.id]" routerLinkActive="active" >View More</a>
           <button class="delbtn" (click)="deleteBook(book.id)">Delete Book</button>  
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

